.env
node_modules
._*
data
.DS_Store
mongodb

docker-compose.yml

frontend/build

frontend/public/sitemap.xml

frontend/package-lock.json

backend/package-lock.json

backend/scripts/compressed

backend/scripts/uploads
