.env
node_modules
._*
data
.DS_Store
mongodb
package-lock.json
bun.lockb
docker-compose.yml
frontend/build
frontend/public/sitemap.xml
backend/scripts/compressed
backend/scripts/uploads
backend/dist
.idea
.vscode