version: "3.8"
services:
  rote-backend:
    build:
      context: ./server
    environment:
      - CORS=http://localhost:3001,https://rote.ink,https://beta.rote.ink,chrome-extension://cahpbdbfdfnmoachkjmcfgbbnmjcbpej
      - DATABASE_URL=postgresql://prisma:<your_password>@postgres:5432/rote # <your_password> 请用实际密码或 secrets 替换
      - R2_BUCKET=rote
      - R2_ACCOUNT_ID=<your_r2_account_id> # 云存储账号ID，建议用 secrets
      - R2_ACCESS_KEY_ID=<your_r2_access_key_id> # 云存储AccessKey，建议用 secrets
      - R2_SECRET_KEY_ID=<your_r2_secret_key_id> # 云存储SecretKey，建议用 secrets
      - R2_URL_PREFIX=<your_s3_or_r2_domain> # S3/R2 储存文件访问域名，如 r2.rote.ink 或自定义 CDN 域名
      - VAPID_PUBLIC_KEY=<your_vapid_public_key> # Web Push 公钥，建议用 secrets
      - VAPID_PRIVATE_KEY=<your_vapid_private_key> # Web Push 私钥，建议用 secrets
      - JWT_SECRET=qAvOMJOrwUjwvcsYgTvKcMR+8ZEUD3cDBXfvNkBi8TM= # JWT 密钥，测试用，生产环境请重新生成
      - JWT_REFRESH_SECRET=/kL+zuJTRBFpYqivSuMsiW132AZQCFHcr/i0pOq9/oI= # JWT 刷新密钥，测试用，生产环境请重新生成
      - JWT_ACCESS_EXPIRY=15m # JWT 访问令牌过期时间
      - JWT_REFRESH_EXPIRY=7d # JWT 刷新令牌过期时间
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    restart: unless-stopped

  rote-frontend:
    build:
      context: ./web
    ports:
      - "3001:3001"
    environment:
      - VAPID_PUBLIC_KEY=<your_vapid_public_key> # Web Push 公钥
      - REACT_APP_ALLOW_UPLOAD_FILE=false # 允许文件上传
      - REACT_APP_BASEURL_PRD=http://localhost:3000 # 后端API地址
    depends_on:
      - rote-backend
    restart: unless-stopped

  postgres:
    image: postgres:15
    container_name: rote-postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: prisma
      POSTGRES_PASSWORD: <your_password> # 数据库密码，建议用 secrets
      POSTGRES_DB: rote
    volumes:
      - rote-postgres-data:/var/lib/postgresql/data

volumes:
  rote-postgres-data:
