@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: white;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}

.ProseMirror {
  padding-top: 0 !important;
  padding-left: 0 !important;
}

#root {
  height: 100vh;
  width: 100vw;
}

/* 引入谷歌Serif字体 */
.noto-serif-sc-light {
  font-family: "Noto Serif SC", serif;
  font-weight: 300;
  font-style: normal;
}

.noto-serif-sc-regular {
  font-family: "Noto Serif SC", serif;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-sc-semibold {
  font-family: "Noto Serif SC", serif;
  font-weight: 600;
  font-style: normal;
}

.noto-serif-sc-black {
  font-family: "Noto Serif SC", serif;
  font-weight: 900;
  font-style: normal;
}

.aTagStyle a {
  text-decoration: underline;
  color: #0c9849;
  word-break: break-all;
}